In [1]:
import pandas as pd

In [2]:
df_gliwice = pd.read_excel('data/Gliwice_poprawione.xls', index_col=0)
df_gliwice

,NO,NO2,NOx,PM10,PM2.5,SO2,cisnienie,kier,opad_atm,predk,prom,temp,wilg
2007-01-01,NaN,9.521739,NaN,14.666667,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.347826,NaN,22.291667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.476190,NaN,17.217391,NaN,2.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,20.047619,NaN,13.333333,NaN,10.952381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,13.565217,NaN,13.791667,NaN,3.260870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,14.347826,26.782609,49.045455,124.708333,101.0,54.173913,986.083333,117.875000,0,1.154167,NaN,"-8,458",94.833333
2014-12-28,2.272727,10.000000,13.095238,53.500000,38.0,24.217391,987.583333,224.521739,0,1.939130,NaN,"-6,971",90.291667
2014-12-29,2.666667,8.272727,12.684211,36.625000,27.0,12.863636,994.750000,307.666667,0.008333,1.880952,NaN,"-5,500",90.458333
2014-12-30,16.478261,16.739130,41.782609,67.142857,83.0,24.391304,1001.541667,253.260870,0.016667,0.808696,NaN,"-8,371",89.166667
2014-12-31,5.478261,18.434783,26.782609,88.913043,80.0,55.217391,1002.666667,175.391304,"-0,000",1.386957,NaN,"-5,846",80.500000

In [3]:
df_tychy = pd.read_excel('data/Tychy 24h 2007-2014.xlsx', header=3, skiprows=[4], index_col=0)
df_tychy

,NO,NO2,NOx,O3,PM10,SO2,cisnienie,kier,opad_atm,predk,prom,temp,wilg
2007-01-01,NaN,11.217391,NaN,50.416667,10.125000,9.608696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.956522,NaN,42.652174,17.291667,9.869565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.652174,NaN,33.608696,18.583333,8.782609,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,11.956522,NaN,44.782609,8.333333,8.173913,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,18.086957,NaN,38.739130,17.625000,13.826087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,5.818182,28.181818,36.863636,NaN,55.875000,38.363636,984.541667,NaN,0.000000,NaN,14.416667,"-7,663",86.916667
2014-12-28,1.739130,17.695652,20.086957,NaN,49.000000,19.652174,985.625000,NaN,0.000000,NaN,10.666667,"-6,154",82.750000
2014-12-29,2.130435,18.043478,20.956522,NaN,41.083333,13.000000,992.916667,NaN,0.000000,NaN,14.333333,"-5,408",79.333333
2014-12-30,16.695652,29.869565,55.217391,NaN,68.500000,23.347826,999.958333,NaN,0.000000,NaN,27.708333,"-8,054",77.083333
2014-12-31,18.913043,26.086957,54.608696,NaN,126.666667,41.000000,1001.541667,NaN,0.008333,NaN,30.833333,"-5,713",70.208333

In [4]:
df_gliwice.dtypes

NO           float64
NO2          float64
NOx          float64
PM10         float64
PM2.5        float64
SO2          float64
cisnienie    float64
kier         float64
opad_atm      object
predk        float64
prom         float64
temp          object
wilg         float64
dtype: object

In [5]:
df_gliwice['opad_atm'] = df_gliwice['opad_atm'].str.replace(',', '.').astype(float)

In [6]:
df_gliwice['temp'] = df_gliwice['temp'].str.replace(',', '.').astype(float)

In [13]:
df_tychy.dtypes

NO           float64
NO2          float64
NOx          float64
O3           float64
PM10         float64
SO2          float64
cisnienie    float64
kier         float64
opad_atm     float64
predk        float64
prom         float64
temp         float64
wilg         float64
dtype: object

In [12]:
df_tychy['temp'] = df_tychy['temp'].str.replace(',', '.').astype(float)

In [14]:
df_gliwice.columns = df_gliwice.columns.map(lambda x: x + '_Gliwice')
df_gliwice

,NO_Gliwice,NO2_Gliwice,NOx_Gliwice,PM10_Gliwice,PM2.5_Gliwice,SO2_Gliwice,cisnienie_Gliwice,kier_Gliwice,opad_atm_Gliwice,predk_Gliwice,prom_Gliwice,temp_Gliwice,wilg_Gliwice
2007-01-01,NaN,9.521739,NaN,14.666667,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.347826,NaN,22.291667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.476190,NaN,17.217391,NaN,2.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,20.047619,NaN,13.333333,NaN,10.952381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,13.565217,NaN,13.791667,NaN,3.260870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,14.347826,26.782609,49.045455,124.708333,101.0,54.173913,986.083333,117.875000,NaN,1.154167,NaN,-8.458,94.833333
2014-12-28,2.272727,10.000000,13.095238,53.500000,38.0,24.217391,987.583333,224.521739,NaN,1.939130,NaN,-6.971,90.291667
2014-12-29,2.666667,8.272727,12.684211,36.625000,27.0,12.863636,994.750000,307.666667,NaN,1.880952,NaN,-5.500,90.458333
2014-12-30,16.478261,16.739130,41.782609,67.142857,83.0,24.391304,1001.541667,253.260870,NaN,0.808696,NaN,-8.371,89.166667
2014-12-31,5.478261,18.434783,26.782609,88.913043,80.0,55.217391,1002.666667,175.391304,-0.0,1.386957,NaN,-5.846,80.500000

In [15]:
df_tychy.columns = df_tychy.columns.map(lambda x: x + '_Tychy')
df_tychy

,NO_Tychy,NO2_Tychy,NOx_Tychy,O3_Tychy,PM10_Tychy,SO2_Tychy,cisnienie_Tychy,kier_Tychy,opad_atm_Tychy,predk_Tychy,prom_Tychy,temp_Tychy,wilg_Tychy
2007-01-01,NaN,11.217391,NaN,50.416667,10.125000,9.608696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.956522,NaN,42.652174,17.291667,9.869565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.652174,NaN,33.608696,18.583333,8.782609,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,11.956522,NaN,44.782609,8.333333,8.173913,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,18.086957,NaN,38.739130,17.625000,13.826087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,5.818182,28.181818,36.863636,NaN,55.875000,38.363636,984.541667,NaN,0.000000,NaN,14.416667,-7.663,86.916667
2014-12-28,1.739130,17.695652,20.086957,NaN,49.000000,19.652174,985.625000,NaN,0.000000,NaN,10.666667,-6.154,82.750000
2014-12-29,2.130435,18.043478,20.956522,NaN,41.083333,13.000000,992.916667,NaN,0.000000,NaN,14.333333,-5.408,79.333333
2014-12-30,16.695652,29.869565,55.217391,NaN,68.500000,23.347826,999.958333,NaN,0.000000,NaN,27.708333,-8.054,77.083333
2014-12-31,18.913043,26.086957,54.608696,NaN,126.666667,41.000000,1001.541667,NaN,0.008333,NaN,30.833333,-5.713,70.208333

In [19]:
df = pd.merge(df_gliwice, df_tychy, left_index=True, right_index=True)
df

,NO_Gliwice,NO2_Gliwice,NOx_Gliwice,PM10_Gliwice,PM2.5_Gliwice,SO2_Gliwice,cisnienie_Gliwice,kier_Gliwice,opad_atm_Gliwice,predk_Gliwice,...,O3_Tychy,PM10_Tychy,SO2_Tychy,cisnienie_Tychy,kier_Tychy,opad_atm_Tychy,predk_Tychy,prom_Tychy,temp_Tychy,wilg_Tychy
2007-01-01,NaN,9.521739,NaN,14.666667,NaN,4.000000,NaN,NaN,NaN,NaN,...,50.416667,10.125000,9.608696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.347826,NaN,22.291667,NaN,NaN,NaN,NaN,NaN,NaN,...,42.652174,17.291667,9.869565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.476190,NaN,17.217391,NaN,2.750000,NaN,NaN,NaN,NaN,...,33.608696,18.583333,8.782609,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,20.047619,NaN,13.333333,NaN,10.952381,NaN,NaN,NaN,NaN,...,44.782609,8.333333,8.173913,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,13.565217,NaN,13.791667,NaN,3.260870,NaN,NaN,NaN,NaN,...,38.739130,17.625000,13.826087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,14.347826,26.782609,49.045455,124.708333,101.0,54.173913,986.083333,117.875000,NaN,1.154167,...,NaN,55.875000,38.363636,984.541667,NaN,0.000000,NaN,14.416667,-7.663,86.916667
2014-12-28,2.272727,10.000000,13.095238,53.500000,38.0,24.217391,987.583333,224.521739,NaN,1.939130,...,NaN,49.000000,19.652174,985.625000,NaN,0.000000,NaN,10.666667,-6.154,82.750000
2014-12-29,2.666667,8.272727,12.684211,36.625000,27.0,12.863636,994.750000,307.666667,NaN,1.880952,...,NaN,41.083333,13.000000,992.916667,NaN,0.000000,NaN,14.333333,-5.408,79.333333
2014-12-30,16.478261,16.739130,41.782609,67.142857,83.0,24.391304,1001.541667,253.260870,NaN,0.808696,...,NaN,68.500000,23.347826,999.958333,NaN,0.000000,NaN,27.708333,-8.054,77.083333
2014-12-31,5.478261,18.434783,26.782609,88.913043,80.0,55.217391,1002.666667,175.391304,-0.0,1.386957,...,NaN,126.666667,41.000000,1001.541667,NaN,0.008333,NaN,30.833333,-5.713,70.208333

In [29]:
stats = pd.DataFrame({
    'WaÅ¼ne obserwacje': (~df.isna()).sum(),
    '% WaÅ¼nych obserwacji': round((~df.isna()).sum() / len(df) * 100, 1),
    'Åšrednia': df.mean(),
    'Mediana': df.median(),
    'Minimum': df.min(),
    'Maksimum': df.max(),
    'Odchylenie standardowe': df.std()
})

stats

,WaÅ¼ne obserwacje,% WaÅ¼nych obserwacji,Åšrednia,Mediana,Minimum,Maksimum,Odchylenie standardowe
NO_Gliwice,2124,74.0,11.184276,4.800395,0.000000,202.565217,16.936140
NO2_Gliwice,2797,97.4,25.326198,23.565217,2.869565,89.086957,13.013892
NOx_Gliwice,2452,85.4,42.696769,31.978261,3.304348,369.782609,36.409990
PM10_Gliwice,2508,87.4,45.938730,36.062500,6.695652,344.958333,35.097714
PM2.5_Gliwice,1738,60.5,36.603855,26.000000,2.500000,256.000000,32.937656
SO2_Gliwice,2693,93.8,13.128484,8.217391,1.391304,125.043478,14.176684
cisnienie_Gliwice,1423,49.6,986.236537,986.291667,955.833333,1007.500000,7.655227
kier_Gliwice,1751,61.0,187.352009,191.333333,0.408333,340.916667,73.062782
opad_atm_Gliwice,1,0.0,0.000000,-0.000000,-0.000000,-0.000000,NaN
predk_Gliwice,1445,50.3,1.100144,0.960870,0.216667,5.416667,0.586203
prom_Gliwice,1306,45.5,95.236933,71.291667,1.000000,293.208333,77.998622
temp_Gliwice,170,5.9,-4.838588,-3.633500,-20.058000,-0.050000,4.436891
wilg_Gliwice,1177,41.0,69.317697,75.041667,0.291667,99.000000,21.645064
NO_Tychy,2373,82.7,12.517108,5.695652,0.043478,170.333333,18.424991
NO2_Tychy,2670,93.0,25.084916,22.956522,5.652174,95.000000,11.253725
NOx_Tychy,2450,85.3,44.178931,32.804348,7.086957,353.869565,36.381298
O3_Tychy,1327,46.2,42.519503,43.260870,1.608696,112.478261,20.984580
PM10_Tychy,2657,92.5,40.657366,31.541667,5.166667,417.208333,32.513401
SO2_Tychy,2828,98.5,16.335227,10.913043,1.695652,175.608696,16.106226
cisnienie_Tychy,1798,62.6,983.795745,984.083333,954.291667,1005.625000,7.505499
kier_Tychy,1084,37.8,197.125569,215.937500,20.541667,337.125000,67.359472
opad_atm_Tychy,376,13.1,0.074613,0.000000,0.000000,1.266667,0.187134
predk_Tychy,1084,37.8,0.926692,0.758333,0.070833,3.329167,0.543979
prom_Tychy,1817,63.3,116.227335,87.708333,1.791667,401.416667,94.296819
temp_Tychy,351,12.2,-4.206655,-2.833000,-18.275000,-0.046000,3.975205
wilg_Tychy,1435,50.0,86.703238,90.590909,33.583333,99.000000,12.691209

In [30]:
stats[stats['% WaÅ¼nych obserwacji'] > 70]

,WaÅ¼ne obserwacje,% WaÅ¼nych obserwacji,Åšrednia,Mediana,Minimum,Maksimum,Odchylenie standardowe
NO_Gliwice,2124,74.0,11.184276,4.800395,0.000000,202.565217,16.936140
NO2_Gliwice,2797,97.4,25.326198,23.565217,2.869565,89.086957,13.013892
NOx_Gliwice,2452,85.4,42.696769,31.978261,3.304348,369.782609,36.409990
PM10_Gliwice,2508,87.4,45.938730,36.062500,6.695652,344.958333,35.097714
SO2_Gliwice,2693,93.8,13.128484,8.217391,1.391304,125.043478,14.176684
NO_Tychy,2373,82.7,12.517108,5.695652,0.043478,170.333333,18.424991
NO2_Tychy,2670,93.0,25.084916,22.956522,5.652174,95.000000,11.253725
NOx_Tychy,2450,85.3,44.178931,32.804348,7.086957,353.869565,36.381298
PM10_Tychy,2657,92.5,40.657366,31.541667,5.166667,417.208333,32.513401
SO2_Tychy,2828,98.5,16.335227,10.913043,1.695652,175.608696,16.106226