In [1]:
import pandas as pd

In [12]:
df_gliwice = pd.read_excel('data/Gliwice_poprawione.xls', index_col=0)
df_gliwice

,NO,NO2,NOx,PM10,PM2.5,SO2,cisnienie,kier,opad_atm,predk,prom,temp,wilg
2007-01-01,NaN,9.521739,NaN,14.666667,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.347826,NaN,22.291667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.476190,NaN,17.217391,NaN,2.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,20.047619,NaN,13.333333,NaN,10.952381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,13.565217,NaN,13.791667,NaN,3.260870,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,14.347826,26.782609,49.045455,124.708333,101.0,54.173913,986.083333,117.875000,0,1.154167,NaN,"-8,458",94.833333
2014-12-28,2.272727,10.000000,13.095238,53.500000,38.0,24.217391,987.583333,224.521739,0,1.939130,NaN,"-6,971",90.291667
2014-12-29,2.666667,8.272727,12.684211,36.625000,27.0,12.863636,994.750000,307.666667,0.008333,1.880952,NaN,"-5,500",90.458333
2014-12-30,16.478261,16.739130,41.782609,67.142857,83.0,24.391304,1001.541667,253.260870,0.016667,0.808696,NaN,"-8,371",89.166667
2014-12-31,5.478261,18.434783,26.782609,88.913043,80.0,55.217391,1002.666667,175.391304,"-0,000",1.386957,NaN,"-5,846",80.500000

In [28]:
df_tychy = pd.read_excel('data/Tychy 24h 2007-2014.xlsx', header=3, skiprows=[4], index_col=0)
df_tychy

,NO,NO2,NOx,O3,PM10,SO2,cisnienie,kier,opad_atm,predk,prom,temp,wilg
2007-01-01,NaN,11.217391,NaN,50.416667,10.125000,9.608696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-02,NaN,17.956522,NaN,42.652174,17.291667,9.869565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,17.652174,NaN,33.608696,18.583333,8.782609,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,NaN,11.956522,NaN,44.782609,8.333333,8.173913,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,NaN,18.086957,NaN,38.739130,17.625000,13.826087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,5.818182,28.181818,36.863636,NaN,55.875000,38.363636,984.541667,NaN,0.000000,NaN,14.416667,"-7,663",86.916667
2014-12-28,1.739130,17.695652,20.086957,NaN,49.000000,19.652174,985.625000,NaN,0.000000,NaN,10.666667,"-6,154",82.750000
2014-12-29,2.130435,18.043478,20.956522,NaN,41.083333,13.000000,992.916667,NaN,0.000000,NaN,14.333333,"-5,408",79.333333
2014-12-30,16.695652,29.869565,55.217391,NaN,68.500000,23.347826,999.958333,NaN,0.000000,NaN,27.708333,"-8,054",77.083333
2014-12-31,18.913043,26.086957,54.608696,NaN,126.666667,41.000000,1001.541667,NaN,0.008333,NaN,30.833333,"-5,713",70.208333